//background sidebar
$bsidebar: #ececf6;
$background:#f5f5fd;
$primary:#141220;

$card:white;

$accent:#141220;
$opaque:#141220;

$secundary:#04D976;
$alternative:#141220;


// primary #3326ae
// colormenu white

// background #F7F7F9
// tercer #708393

// secundary = #FF776C

 // referencia
// https://dribbble.com/shots/11289085-Smart-Home-Dashboard-Design/attachments/2898159?mode=mediahttps://dribbble.com/shots/11289085-Smart-Home-Dashboard-Design/attachments/2898159?mode=media