// @import "./node_modules/bootstrap/scss/bootstrap.scss";

$bsidebar: #ececf6;
$background:#E1DFF2;
$primary:#3326ae;

$card:white;

$accent:#FF776C;
$opaque:#141220;

$secundary:#F7F7F9;
$alternative:#708393;


// primary #3326ae
// colormenu white

// background #F7F7F9
// tercer #708393

// secundary = #FF776C

 // referencia
// https://dribbble.com/shots/11289085-Smart-Home-Dashboard-Design/attachments/2898159?mode=mediahttps://dribbble.com/shots/11289085-Smart-Home-Dashboard-Design/attachments/2898159?mode=media